{
    "copyFormatting": "none",
    "copyOnSelect": false,
    "defaultProfile": "{2c4de342-38b7-51cf-b940-2309a097f518}",
    "launchMode": "maximized",
    "profiles": {
        "defaults": {
            "colorScheme": "{{ default_theme }}"
        },
        "list": [
            {
                "commandline": "powershell.exe",
                "guid": "{61c54bbd-c2c6-5271-96e7-009a87ff44bf}",
                "hidden": false,
                "name": "Windows PowerShell"
            },
            {
                "commandline": "cmd.exe",
                "guid": "{0caa0dad-35be-5f56-a8ff-afceeeaa6101}",
                "hidden": false,
                "name": "Eingabeaufforderung"
            },
            {
                "guid": "{b453ae62-4e3d-5e58-b989-0a998ec441b8}",
                "hidden": false,
                "name": "Azure Cloud Shell",
                "source": "Windows.Terminal.Azure"
            },
            {
                "guid": "{2c4de342-38b7-51cf-b940-2309a097f518}",
                "hidden": false,
                "name": "Ubuntu",
                "source": "Windows.Terminal.Wsl"
            }
        ]
    },
    "schemes":
    [
    {% for theme, theme_colors in colors.items() %}
        {
        {% for name, color in theme_colors.items() %}
            "{{ name }}": "{{ color }}"{% if not loop.last %},{% endif %}

        {% endfor %}
        }{% if not loop.last %},{% endif %}

    {% endfor %}
    ],
    "windowingBehavior": "useAnyExisting"
}
